/*! root file */
:root {
  /** variables */
  /* main color variables */
  --main-bg: #303233;
  --main-bg2: #40403e;
  --main-color: #daa520;
  --main-color2: #ffd700;
  --main-color3: #c0a403;
  --white: #fff;
  --black: #000;

  /* dimensions */
  --nav-height: 50px;
  --section-padding: 30px 0;
  --section-div-padding: 30px;
}
/** all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*! ===== MOBILE FIRST RWD ===== */
/*! the ffg queries determine the basic styles of the elements in the file */
/*! the main media queries are located at the end of this file */
/** extra-small=320px (320px-400px) */
/* body */
body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  background-color: var(--main-bg);
  color: var(--main-color);
  border: solid 1px #ddd;
}
/* text elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.3em;
  line-height: 130%;
  text-align: center;
  letter-spacing: 3px;
}
h1 {
  margin-bottom: 0.8rem;
}
h2 {
  margin-bottom: 0.75rem;
}
h3 {
  margin-bottom: 0.6rem;
}
h4 {
  margin-bottom: 0.5rem;
}
h5 {
  margin-bottom: 0.4rem;
}
h6 {
  margin-bottom: 0.3rem;
}
/* paragraph elements */
p {
  padding-bottom: 0.5rem;
  text-align: inherit;
  letter-spacing: 2px;
}
/** small=400px (400px-608px) */
@media screen and (min-width: 400px) {
  /* body */
  body {
    font-size: 16px;
  }
  /* text elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 1.3em;
    line-height: 130%;
  }
}
/** medium=608px (608px-960px) */
@media screen and (min-width: 608px) {
  /* body */
  body {
    font-size: 17px;
  }
  /* text elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 1.4em;
    line-height: 140%;
  }
}
/** large=960px (960px-1440px) */
@media screen and (min-width: 960px) {
  /* body */
  body {
    font-size: 18px;
  }
  /* text elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 1.5em;
    line-height: 150%;
  }
}
/** extra-large=1440px+ */
@media screen and (min-width: 1440px) {
  /* body */
  body {
    font-size: 19px;
  }
}
/*! ==========  */
/*! ==========  */
/*! ==========  */

/** to ensure that when you click on an id link, the header will not cover the  beginning of the content the id is pointing to */
[id] {
  scroll-margin-top: 5em;
}
/** reseting the link states to the page's main color and no decoration */
a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--main-color);
}
/* list */
ul {
  list-style: none;
  list-style-position: unset;
}
/*! end of basic css styles */
/*! ========== */
/** body */
body.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/** main colors */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color2);
}
p {
  color: var(--main-color3);
}
i {
  color: var(--main-color);
}
/* all section titles */
h3 {
  text-shadow: 0px 0px 2px;
}
/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
/** nav-bar */
nav > div.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: var(--nav-height);
  padding: 10px;
  position: relative;
  background-color: var(--main-bg);
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0px 1px 5px var(--main-color);
  overflow: hidden;
}
/* logo */
nav > div.nav > ul.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 30px;
}
/* the individual nav links */
nav > div.nav li.nav-link,
nav > div.nav li.nav-link a {
  width: 80px;
  height: 30px;
  padding: 5px 0;
  text-align: center;
}
/** the menu toggle */
nav > div.nav > div.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 30px;
}
/* the menu toggle bars */
nav > div.nav > div.menu-toggle > div.bar {
  width: 25px;
  height: 4px;
  background-color: var(--main-color);
  margin: 3px;
  margin-right: 5px;
  border: none;
}
/* nav links */
nav > div.nav > ul.nav-links {
  position: absolute;
  top: 50px;
  right: -170px;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  background-color: var(--main-bg);
  /* display: none; */
}
/*thr individual links in the nav links */
nav > div.nav > ul.nav-links > li.nav-link {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/** header */
header > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header > div div#intro {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 20px;
}
/* my name and occupation */
header > div > div#intro > div.my-name {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  border-left: solid 4px var(--main-color);
  border-bottom: solid 4px var(--main-color);
  /* max-width: max-content; */
}
/* my name */
header > div div.my-name > h2 {
  text-align: left;
  margin-bottom: 5px;
}
/* my occupation */
header > div div.my-name > h4 {
  text-align: left;
  margin-bottom: 0;
  color: var(--main-color);
  text-shadow: 0px 0px 1px var(--main-color3);
}
/* my profile image */
header > div div.profile-img {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg2);
}
/* the image container */
header > div > div.profile-img > figure {
  border: solid 4px;
  position: relative;
  height: 200px;
  width: 180px;
  color: var(--main-color2);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0px 0px 5px inset;
}
/* the image */
header > div > div.profile-img > figure > img {
  position: absolute;
  top: -20px;
  left: -20px;
  height: 190px;
  width: auto;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
/** about section */
section#about {
  max-width: 100vw;
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#about > div {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  max-width: 300px;
}
/* about section body */
section#about > div > p {
  text-align: justify;
}
/* about section contacts */
section#about > div > div.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 120px;
}
/* about section contact links */
section#about > div > div.contacts > p.contact-link {
  padding: 5px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  background-image: linear-gradient(
    -45deg,
    rgba(238, 238, 238, 0.1),
    rgba(255, 255, 255, 0.3),
    rgba(238, 238, 238, 0.1)
  );
}
/** project section */
section#projects {
  padding: var(--section-padding);
  background-color: var(--main-bg2);
}
/* project wrapper */
section#projects > div {
  display: flex;
  flex-direction: column;
  padding: var(--section-div-padding);
}
/** the projects */
section#projects > div > div.project-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* the individual project */
section#projects > div > div.project-section > div.project {
  width: 280px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
}
/* the individual project figure */
section#projects > div > div.project-section > div.project > figure {
  width: inherit;
  height: 150px;
}
/* project img */
section#projects > div > div.project-section > div.project > figure > img {
  height: 150px;
  width: 100%;
}
/* project title */
section#projects > div > div.project-section > div.project > h5 {
  margin: 20px 10px 10px;
  color: var(--main-color);
}
/* project button links section */
section#projects > div > div.project-section > div.project > div.btn-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px;
  padding: 20px;
}
/* project buttons */
section#projects
  > div
  > div.project-section
  > div.project
  > div.btn-div
  > button {
  width: 100px;
  height: 30px;
  background-color: rgba(163, 168, 112, 0.164);
  background-image: linear-gradient(
    45deg,
    rgba(238, 238, 238, 0.1),
    rgba(255, 217, 0, 0.2),
    rgba(238, 238, 238, 0.1)
  );
  border: 0;
  border: solid 1px var(--main-color2);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  /* background-image: linear-gradient( 90deg, var(--main-color2), var(--main-color3),  var(--main-color)); */
  /* opacity: 0.1; */
}
/* the project anchor */
section#projects
  > div
  > div.project-section
  > div.project
  > div.btn-div
  > button
  a {
  color: var(--main-color2);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}
/* the project anchor link */
section#projects
  > div
  > div.project-section
  > div.project
  > div.btn-div
  > button
  i {
  color: var(--main-color2);
  padding-left: 5px;
  font-size: 12px;
}
/* the project tags */
section#projects > div > div.project-section > div.project > div.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: var(--main-color2);
  font-size: 14px;
}
/* the project tags */
section#projects > div > div.project-section > div.project > div.tags > p.tag {
  border: solid 1px;
  padding: 5px;
  margin: 0 5px;
  font-size: 12px;
  font-weight: 900;
  background-image: linear-gradient(
    90deg,
    var(--main-color2),
    var(--main-color3),
    var(--main-color)
  );
  color: var(--main-bg);
  /* opacity: 0.7; */
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
/** skills section */
section#skills {
  padding: var(--section-padding);
  padding: 60px 0;
}
/* skills section container */
section#skills > div {
  padding: var(--project-div-padding);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* skills section container */
section#skills > div > .skills-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* skills section groupings */
section#skills > div > .skills-section > div {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 280px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: var(--main-bg2);
}
/* my skills*/
section#skills > div > .skills-section > div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
/* my individual skills*/
section#skills > div > .skills-section > div > div > div.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
/* image of my individual skills */
section#skills > div > .skills-section > div > div > div.skill img {
  height: 50px;
  width: 50px;
  border: solid 1px #eee;
  padding: 5px;
  background-image: linear-gradient(
    -45deg,
    rgba(238, 238, 238, 0.418),
    rgba(255, 255, 255, 0.9),
    rgba(238, 238, 238, 0.418)
  );
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
/* my individual skills title*/
section#skills > div > .skills-section > div > div > div.skill > p {
  font-size: 12px;
  font-weight: bold;
}
/** footer */
footer {
  background-color: var(--black);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 10px;
}
/** contacts */
footer div {
  width: 100%;
  height: 50px;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
/* contact icons */
footer i {
  width: 30px;
  padding: 5px;
  border: solid 2px var(--main-color);
  color: var(--main-bg);
  background-color: rgba(238, 238, 238, 0.418);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  background-image: linear-gradient(
    90deg,
    var(--main-color2),
    var(--main-color3),
    var(--main-color)
  );
}
/* designer */
footer div.title {
  height: initial;
}
footer div.designer h6 {
  padding: 2px;
}
@media screen and (min-width: 450px) {
  header > div div#intro {
    padding-left: 40px;
  }
  /* the image container */
  header > div > div.profile-img > figure {
    height: 300px;
    width: 270px;
  }
  /* the image */
  header > div > div.profile-img > figure > img {
    height: 290px;
    width: 100%;
  }
  /* about section contacts */
  section#about > div {
    max-width: 600px;
  }
  /* about section contacts */
  section#about > div > div.contacts {
    width: 200px;
  }
}
